<br>
<%= form_for pokedex,:html => {:class => 'form-horizontal'} do |f| %>
  <% if pokedex.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(pokedex.errors.count, "error") %> prohibited this pokedex from being saved:</h2>

      <ul>
      <% pokedex.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control", required: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :base_health_point, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
    <%= f.number_field :base_health_point, class: "form-control", required: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :base_attack, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
    <%= f.number_field :base_attack , class: "form-control", required: true%>
  </div>
  </div>

  <div class="form-group">
    <%= f.label :base_defence, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
    <%= f.number_field :base_defence, class: "form-control", required: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :base_speed, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
    <%= f.number_field :base_speed, class: "form-control", required: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :element_type, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
    <%= f.text_field :element_type , class: "form-control", required: true%>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :image_url, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
    <%= f.text_field :image_url, class: "form-control", required: true %>
    </div>
  </div>

  <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit'Submit', class: "btn btn-primary"%>
  </div>
  </div>
<% end %>