<table class="table table-bordered">
    <thead>
        <tr>
            <th>Turn</th>
            <th>Skill</th>
            <th>Damage</th>
            <th>Attacker</th>
            <th>Attacker HP</th>
            <th>Defender</th>
            <th>Defender HP</th>
            <th>Action</th>
        </tr>
    </thead>              

    <tbody>
        <% @pokemon_battle_logs.each do |pokemon_battle_log| %>
            <tr>
                <td><%= pokemon_battle_log.turn %></td>
                <td><%= pokemon_battle_log.skill.name if pokemon_battle_log.skill_id.present?%></td>
                <td><%= pokemon_battle_log.damage %></td>
                <td><%= pokemon_battle_log.attacker_name %></td>
                <td><%= pokemon_battle_log.attacker_current_health_point %></td>
                <td><%= pokemon_battle_log.defender_name %></td>
                <td><%= pokemon_battle_log.defender_current_health_point %></td>
                <td><%= pokemon_battle_log.action_type %></td>            
            </tr>
        <% end %>
    </tbody>
</table> 