<%= render 'pages/nav' %>
    <div class="container">

      <div class="panel panel-info">
        <div class="panel-heading">Skills</div>
        <div class="panel-body">
            <ol class="breadcrumb">
                  <li><%= link_to 'Home', root_path%></li>
                  <li class="active">Skills</li>
            </ol>
            <% flash.each do |key, value| %>
                <div class="alert alert-<%= key %>"><%= value %></div>
            <% end %>         
            <%= link_to 'New Skill', new_skill_path, :class=>"btn btn-default btn-sm" %>
            <br><br>
               <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Power</th>
                      <th>Max pp</th>
                      <th>Element type</th>
                      <th>Action</th>
                    </tr>
                  </thead>                

                  <tbody>
                    <% @skills.each do |skill| %>
                      <tr>
                        <td><%= skill.name %></td>
                        <td><%= skill.power %></td>
                        <td><%= skill.max_pp %></td>
                        <td><%= skill.element_type %></td>
                        <td><%= link_to 'Show', skill, :class=>"btn btn-info btn-sm" %>
                        <%= link_to 'Edit', edit_skill_path(skill), :class=>"btn btn-success btn-sm" %>
                        <%= link_to 'Destroy', skill, :class=>"btn btn-danger btn-sm" , method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                <br>
                <%= will_paginate @skills, previous_label: "Previous", next_label: "Next", inner_window: 1, outer_window: 0 %>      

            <br>            
          </div>
        </div>



    </div> <!-- /container -->
<%= render 'pages/footer' %>