<%= render 'pages/nav' %>
    <div class="container">

      <div class="panel panel-info">
      <div class="panel-heading">New Pokemon Battle</div>
        <div class="panel-body">
        <center><h2><strong>SELECT POKEMON</strong></h2></center>
        <br><br>
        <%= form_for @pokemon_battle do |f| %>
        <div class="row">
        	<div class="col-sm-6">
        		<div class="battle"><h4>Pokemon 1</h4>
        		<br>
        			<%= select_tag('pokemon1_id',  options_for_select(Pokemon.all.collect {|p| [ p.name, p.id ] }), prompt: '--- Choose Pokemon 1 ---') %>
                    <%= content_tag(:div, "#{@pokemon_battle.errors[:pokemon1_id].join(', ')}", class: ["field_with_errors_pokemon"]) if @pokemon_battle.errors.any?%>
        		</div>
        	</div>
        	<div class="col-sm-6">
        		<div class="battle"><h4>Pokemon 2</h4>
        		<br>
        			<%= select_tag('pokemon2_id',  options_for_select(Pokemon.all.collect {|p| [ p.name, p.id ] }), prompt: '--- Choose Pokemon 2 ---') %>
                    <%= content_tag(:div, "#{@pokemon_battle.errors[:pokemon2_id].join(', ')}", class: ["field_with_errors_pokemon"]) if @pokemon_battle.errors.any?%>
        		</div>
        	</div>
        </div>
        <br>
        <center>
        <div class="actions">
		    <%= submit_tag 'Battle', class: 'btn btn-primary' %>
		</div>
		</center>
        <% end %>
        </div>
      </div>



    </div> <!-- /container -->
<%= render 'pages/footer' %>