<%= render 'pages/nav' %>
<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">Battle</div>
        <div class="panel-body">
            <ol class="breadcrumb">
                <li><%= link_to 'Home', root_path%></li>
                <li><%= link_to 'Pokemon Battles', pokemon_battles_path%></li>
                <li class="active">Battle Show</li>
            </ol>
            <% if  @pokemon_battle.state == "finish" %>
                <div class="alert alert-danger">
                    <strong> GAME HAS FINISHED... </strong>
                </div>
            <% end %>

            <% if  flash[:danger].present? || flash[:success].present?%>
                <% flash.each do |key, value| %>
                    <div class="alert alert-<%= key %>"><%= value %></div>
                <% end %>   
            <% end %>
            <p class='text-primary'><%= "#{@pokemon_battle.winner.upcase} IS WINNER" if @pokemon_battle.pokemon_winner_id.present? %></p>
            <br>
            <div class="row">
                <div class="col-sm-5">
                    <div class="battle">
                        <h4>Pokemon 1</h4>
                        <div class="battle-img"><%= image_tag @pokemon1.pokedex.image_url %></div>
                    </div>            
                </div>
                <div class="col-sm-2">
                    <h2>VS</h2>
                    <h3>Turn <%= @pokemon_battle.current_turn %> </h3>
                </div>
                <div class="col-sm-5">
                    <div class="battle">
                        <h4>Pokemon 2</h4>
                        <div class="battle-img"><%= image_tag @pokemon2.pokedex.image_url %></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <table class="table table-bordered">
                        <tr>
                            <td width="35%" bgcolor="#d9edf7">Name</td>
                            <td><%= @pokemon1.name %></td>
                        </tr>
                        <tr>
                            <td bgcolor="#d9edf7">Health Point</td>
                            <td><%= @pokemon1.current_health_point %>/<%= @pokemon1.max_health_point %></td>
                        </tr>
                        <tr>
                            <td bgcolor="#d9edf7">Attack</td>
                            <td>
                                <%= form_tag attack_path(@pokemon_battle) do %>
                                    <%= hidden_field_tag('pokemon_id', @pokemon1.id) %>
                                    <%= select_tag('attack',  options_for_select(@pokemon1_skills), prompt: '--- Choose Attack ---' , class: "form-control", required: true)%>
                            </td>
                        </tr>
                    </table>
                    <center>
                                    <% if (@pokemon_battle.current_turn%2==1)&(@pokemon_battle.state != "finish") %>
                                         <%= submit_tag 'Attack', class: "btn btn-danger btn-sm" %>
                                         <%= link_to 'Surrender', surrender_path(@pokemon_battle,@pokemon1) , :class=>"btn btn-primary btn-sm" %>
                                    <% else %>
                                         <%= submit_tag 'Attack', class: "btn btn-danger btn-sm", disabled: true %>
                                         <%= link_to 'Surrender', surrender_path(@pokemon_battle,@pokemon1) , :class=>"btn btn-primary btn-sm", disabled: true %>
                                    <% end %>
                                <% end %>
                           
                    </center>            
                </div>
                <div class="col-sm-2">
            </div>
            <div class="col-sm-5">
                <table class="table table-bordered">
                    <tr>
                        <td width="35%" bgcolor="#d9edf7">Name</td>
                        <td><%= @pokemon2.name %></td>
                    </tr>
                    <tr>
                        <td bgcolor="#d9edf7">Health Point</td>
                        <td><%= @pokemon2.current_health_point %> / <%= @pokemon2.max_health_point %></td>
                    </tr>
                    <tr>
                        <td bgcolor="#d9edf7">Attack</td>
                        <td>
                        <%= form_tag attack_path(@pokemon_battle) do %>
                            <%= hidden_field_tag('pokemon_id', @pokemon2.id) %>
                            <%= select_tag('attack',  options_for_select(@pokemon2_skills), prompt: '--- Choose Attack ---' , class: "form-control", required: true) %>
                        </td>
                    </tr>
                </table>
                <center>
                            <% if (@pokemon_battle.current_turn%2==0)&(@pokemon_battle.state != "finish") %>
                                <%= submit_tag 'Attack', class: "btn btn-danger btn-sm" %>
                                <%= link_to 'Surrender', surrender_path(@pokemon_battle,@pokemon2) , :class=>"btn btn-primary btn-sm" %>
                            <% else %>
                                <%= submit_tag 'Attack', class: "btn btn-danger btn-sm", disabled: true %>
                                <%= link_to 'Surrender', surrender_path(@pokemon_battle,@pokemon2) , :class=>"btn btn-primary btn-sm", disabled: true %>
                            <% end %>
                        <% end %>
                        
                </center>
                </div>
            </div>
            <br>
            <h3>Battle Logs</h3>
            <%= render 'pokemon_battle_logs/table_log' %>
            <br>
            <%= will_paginate @pokemon_battle_logs, previous_label: "Previous", next_label: "Next", inner_window: 1, outer_window: 0 %>
        </div>
    </div>
</div> <!-- /container -->
<%= render 'pages/footer' %>