<br>
<%= form_for [@trainer, @pokemon],:html => {:class => 'form-horizontal'} do |f| %>
    <div class="row">
        <div class="col-sm-4">
             <center>
                  <div class="photo">
                      <%= image_tag pokemon.pokedex.image_url %>
                  </div>
              </center>
        </div>
        <div class="col-sm-8">          
            <div class="form-group">
                <%= f.label :name, class: "control-label col-sm-2" %>
                <div class="col-sm-10">
                    <%= f.text_field :name, class: "form-control"%>
                    <%= content_tag(:div, "#{ @pokemon.errors[:name].join(', ')}", class: ["field_with_errors_pokemon"]) if @pokemon.errors.any?%>
                </div>
            </div>    

            <div class="form-group">
                <%= f.label :pokedex, class: "control-label col-sm-2" %>
                <div class="col-sm-10">
                    <%= f.text_field :pokedex_id, :value => @pokemon.pokedex.name, class: "form-control", disabled: true %>
                    <%= content_tag(:div, "#{ @pokemon.errors[:pokedex_id].join(', ')}", class: ["field_with_errors_pokemon"]) if @pokemon.errors.any?%>
                </div>
            </div>              

            <div class="form-group">
                <%= f.label :level, class: "control-label col-sm-2" %>
                <div class="col-sm-10">
                    <%= f.text_field :level, class: "form-control", disabled: true %>
                    <%= content_tag(:div, "#{ @pokemon.errors[:level].join(', ')}", class: ["field_with_errors_pokemon"]) if @pokemon.errors.any?%>
                </div>
            </div>            

            <div class="form-group">
                <%= f.label :max_health_point, class: "control-label col-sm-2" %>
                <div class="col-sm-10">
                    <%= f.text_field :max_health_point, class: "form-control"%>
                    <%= content_tag(:div, "#{ @pokemon.errors[:max_health_point].join(', ')}", class: ["field_with_errors_pokemon"]) if @pokemon.errors.any?%>
                </div>
            </div>    

            <div class="form-group">
                <%= f.label :current_health_point, class: "control-label col-sm-2" %>
                <div class="col-sm-10">
                    <%= f.text_field :current_health_point, class: "form-control"%>
                    <%= content_tag(:div, "#{ @pokemon.errors[:current_health_point].join(', ')}", class: ["field_with_errors_pokemon"]) if @pokemon.errors.any?%>
                </div>
            </div>            

            <div class="form-group">
                <%= f.label :attack, class: "control-label col-sm-2" %>
                <div class="col-sm-10">
                    <%= f.text_field :attack , class: "form-control"%>
                    <%= content_tag(:div, "#{ @pokemon.errors[:attack].join(', ')}", class: ["field_with_errors_pokemon"]) if @pokemon.errors.any?%>
              </div>
            </div>            

            <div class="form-group">
                <%= f.label :defence, class: "control-label col-sm-2" %>
                <div class="col-sm-10">
                    <%= f.text_field :defence, class: "form-control"%>
                    <%= content_tag(:div, "#{ @pokemon.errors[:defence].join(', ')}", class: ["field_with_errors_pokemon"]) if @pokemon.errors.any?%>
                </div>
            </div>            

            <div class="form-group">
                <%= f.label :speed, class: "control-label col-sm-2" %>
                <div class="col-sm-10">
                    <%= f.text_field :speed, class: "form-control"%>
                    <%= content_tag(:div, "#{ @pokemon.errors[:speed].join(', ')}", class: ["field_with_errors_pokemon"]) if @pokemon.errors.any?%>
                </div>
            </div>            

            <div class="form-group">
                <%= f.label :current_experience, class: "control-label col-sm-2" %>
                <div class="col-sm-10">
                    <%= f.text_field :current_experience , class: "form-control"%>
                    <%= content_tag(:div, "#{ @pokemon.errors[:current_experience].join(', ')}", class: ["field_with_errors_pokemon"]) if @pokemon.errors.any?%>
                </div>
            </div> 

            <div class="form-group">        
                <div class="col-sm-offset-2 col-sm-10">
                    <%= f.submit'Submit', class: "btn btn-primary"%>
                </div>
            </div>      
        </div>
    </div>
<% end %>



