<%= render 'pages/nav' %>
    <div class="container">

      <div class="panel panel-info">
      <div class="panel-heading">New Pokemon</div>
        <div class="panel-body">
            <ol class="breadcrumb">
                  <li><%= link_to 'Home', root_path%></li>
                  <li><%= link_to 'Pokemons', pokemons_path%></li>
                  <li class="active">Pokemon New</li>
            </ol>
            <%= render 'form', pokemon: @pokemon %>
        </div>
      </div>



    </div> <!-- /container -->
<%= render 'pages/footer' %>