<%= render 'pages/nav' %>
    <div class="container">

      <div class="panel panel-info">
      <div class="panel-heading">Editing Trainer</div>
        <div class="panel-body">
             <ol class="breadcrumb">
                  <li><%= link_to 'Home', root_path%></li>
                  <li><%= link_to 'Trainers', trainers_path%></li>
                  <li><%= link_to 'Trainer Show', trainer_path%></li>
                  <li class="active">Trainer Edit</li>
            </ol>
            <%= render 'form', trainer: @trainer %>
        </div>
      </div>



    </div> <!-- /container -->
<%= render 'pages/footer' %>
